<link rel="stylesheet" href="~/css/lightbox.css" />



<div class="lightbox-wrap">
    <div class="lightbox-container">
        <div class="lightbox-content-container"> 
            <div style="width: 610px" class="lightbox-window">
                <div class="js-lightbox-markup-close lightbox-close"></div>
                
                @* Заголовок *@
                <div class="lightbox-header">Редактирование</div>
                
                
                @* Контекнт *@

                <div class="lightbox-content">
                    <div class="send-error"></div>
                </div>
                
                @* Кнопки *@
                <div class="lightbox-footer">
                    <button class="button button-primary">Изменить</button>
                    <button class="button button-primary">Создать</button>
                    <button class="button button-primary">Удалить</button>
                    <button class="button">Отменить</button>
                </div>
            </div>
        </div>
    </div>
</div>